.grid
  margin: 0 auto

@media only screen and (min-width: 1240px)
  .grid
    max-width: 1240px

@media only screen and (min-width: 960px) and (max-width: 1239px)
  .grid
    max-width: 930px

@media only screen and (min-width: 768px) and (max-width: 959px)
  .grid
    max-width: 620px

@media only screen and (max-width: 767px)
  .grid
    max-width: 100%