@require '_includes/*'

*
  box-sizing: border-box

body
  font-family: "Lato"
  text-align: center
  background: $body-bg
  color: #000
  margin: 0
  padding: 0

  h1
    font-size: 65px
    line-height: 1.2em
    padding: 20px 0
    color: $black

  p
    text-align: justify
    line-height: 1.9em

header
  display: block
  height: 60px
  padding: 10px 0
  background-color: #fff
  border-bottom: 1px solid #b3b3b3

  a.logo
    float: left
    padding: 10px 16px
    text-transform: uppercase
    letter-spacing: 2px
    background-color: $black
    color: #fff
    text-decoration: none

  nav ul
    margin-top: 8px
    padding: 0
    list-style-type: none
    float: right

    li
      float: left
      margin-right: 20px

      a
        color: $black
        text-decoration: none
        display: block
        width: 25px
        height: 25px
        line-height: 25px
        border-radius: 40px
        border: 1px solid $black

        &:hover
          color: lighten($black, 20)

        &:before
          height: 25px
          line-height: 25px
          font-family: Ionicons
          
@require _footer
