@import tools
@import mixins

body
  font-family: "Lato"
  text-align: center
  background: #f4f4f7
  color: #000
  margin: 0
  padding: 0

  h1
    font-size: 65px
    line-height: 1.2em
    padding: 20px 0
    color: #333

  p
    margin: 0 140px 30px 140px
    text-align: justify
    line-height: 1.9em

header
  display: block
  padding-right: 140px

  nav ul
    margin: 0
    padding: 0
    list-style-type: none
    float: right

    li
      float: left
      margin-right: 20px

      a
        color: red

        &:hover
          color: blue

