transition(property, duration, delay, easing)
  -webkit-transition: property duration delay easing
  -moz-transition: property duration delay easing
  -ms-transition: property duration delay easing
  -o-transition: property duration delay easing
  transition: property duration delay easing

round-corners(tl, tr, bl, br)
  -webkit-border-radius: tl tr bl br
  -moz-border-radius: tl tr bl br
  -ms-border-radius: tl tr bl br
  -o-border-radius: tl tr bl br
  border-radius: tl tr bl br