header
  a.logo(href="/") R
  nav
    ul
      li(class="#{ current.source == 'index' ? 'active' : '' }")
        a.fa-home(href='/')
      li(class="#{ current.source == 'about' ? 'active' : '' }")
        a.fa-user(href='about')
      li(class="#{ current.source == 'contact' ? 'active' : '' }")
        a.fa-envelope(href='skbskb')