!!!
html
  head
    title!= site_name
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/application.css")
    link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic', rel='stylesheet', type='text/css')


    //- UNCOMMENT FOR ICON FONTS
    link(rel="stylesheet", href="css/font-awesome.min.css")
    //- link(rel="stylesheet", href="css/ionicons.min.css")

  body
    != partial("partials/_header")
    main
      != yield

    script(src="js/jquery-2.0.3.min.js")
    script(src="js/application.js")