//- Do note that _data.json is meant for meta data only.
//- When using the slug, each post should be built within /posts/ with a 
//-   filename that matches the slug name.

each post, slug in public.posts._data
  h1= post.title
  p= post.post