// Colors
$body-bg = #f4f4f7
$black = #333

// Breakpoints
$break-lrg = 1200px
$break-med = 990px
$break-sml = 768px

// Container sizes
$container-lrg = 1170px
$container-med = 970px
$container-sml = 750px
