header
  .l-container
    a.logo(href="/") R
    nav
      ul
        li(class="#{ current.source == 'index' ? 'active' : '' }")
          a.ion-home(href='/')
        li(class="#{ current.source == 'about' ? 'active' : '' }")
          a.ion-person(href='#')
        li(class="#{ current.source == 'contact' ? 'active' : '' }")
          a.ion-email(href='#')
